<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card ml-5 mr-5">
                <div class="card-body">
                    <div class="titleSec">
                        <h2>
                            <b><span class="badge badge-light"
                                    style="border-radius: 8px;color: rgb(15, 15, 15); font-weight: 500; padding: 8px 15px;"><i
                                        class="fa fa-plus"></i>&nbsp;Add Settings Details</span></b>
                        </h2>
                        <ul class="breadcrumb">
                            <li><a href="/settings/settings_details">Settings</a></li>&nbsp; / &nbsp;
                            <li>Add Settings Details</li>
                        </ul>
                        <form method="POST" action="/settings/save_add_settings" class="">
                            <div class="row mt-4">
                                <div class="form-group col-9">
                                    <label for="comp_id" style="color: black;"><b>Company Name:</b></label>
                                    <select name="comp_id" class="form-control" id="comp_id">
                                        <option value="">Select Comapny Name</option>
                                        <% data.forEach(dt=> { %>
                                            <option value="<%= dt.id %>">
                                                <%= dt.company_name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-3 cust-toggle1">
                                    <label for="gst_flag" style="color: black;"><b>GST Flag</b></label><br>
                                    <input type="checkbox" value="Y" id="gst_flag" data-toggle="toggle"
                                        data-onstyle="success" data-offstyle="danger" data-on="Active"
                                        data-off="Deactive" name="gst_flag">
                                </div>


                                <div class="col-md-3 cust-toggle1">
                                    <label for="cust_info" style="color: black;"><b>Customer Info</b></label><br>
                                    <input type="checkbox" value="Y" id="cust_info" data-toggle="toggle"
                                        data-onstyle="success" data-offstyle="danger" data-on="Active"
                                        data-off="Deactive" name="cust_info">
                                </div>

                                <div class="col-md-3 cust-toggle1">
                                    <label for="pay_mode" style="color: black;"><b>Pay Mode</b></label><br>
                                    <input type="checkbox" value="Y" id="pay_mode" data-toggle="toggle"
                                        data-onstyle="success" data-offstyle="danger" data-on="Active"
                                        data-off="Deactive" name="pay_mode">
                                </div>

                                <div class="col-md-3 cust-toggle1">
                                    <label for="unit" style="color: black;"><b>Unit</b></label><br>
                                    <input type="checkbox" value="Y" id="unit" data-toggle="toggle"
                                        data-onstyle="success" data-offstyle="danger" data-on="Active"
                                        data-off="Deactive" name="unit">
                                </div>

                                <div class="col-md-3 cust-toggle1">
                                    <label for="inventory" style="color: black;"><b>Inventory</b></label><br>
                                    <input type="checkbox" value="Y" id="inventory" data-toggle="toggle"
                                        data-onstyle="success" data-offstyle="danger" data-on="Active"
                                        data-off="Deactive" name="inventory">
                                </div>

                                <div class="col-md-3 cust-toggle1">
                                    <label for="discount" style="color: black;"><b>Discount</b></label><br>
                                    <input type="checkbox" value="Y" id="discount" data-toggle="toggle"
                                        data-onstyle="success" data-offstyle="danger" data-on="Active"
                                        data-off="Deactive" name="discount">
                                </div>

                                <div class="col-md-3 col-lg-3">
                                    <!-- <div class="card">
                                                        <div class="card-body"> -->
                                    <!-- <h4 class="card-title">Discount Type</h4> -->
                                    <label for="discount_type" style="color: black;"><b>Discount Type</b></label><br>
                                    <form class="mt-3">
                                        <div class="form-group mb-3">
                                            <!-- <label for="exampleFormControlSelect1">Select No</label> -->
                                            <select name="dis_type" id="dis_type" class="form-control">
                                                <option value="">Select</option>
                                                <% discount_type.forEach(function(item2,index){ %>
                                                <option value="<%= item2.id %>"><%= item2.name%></option>
                                                     
                                               <% }) %>
                                                <!-- <option>Both</option> -->
                                                <!-- <option>4</option>
                                                                        <option>5</option> -->
                                            </select>
                                        </div>
                                    </form>
                                    <!-- </div>
                                                    </div> -->
                                </div>

                                <div class="col-md-3 col-lg-3">
                                    <!-- <div class="card">
                                        <div class="card-body"> -->
                                            <!-- <h4 class="card-title">Discount Type</h4> -->
                                            <label for="receipt_type" style="color: black;"><b>Receipt Type</b></label><br>
                                            
                                                <div class="form-group mb-3">
                                                    <!-- <label for="exampleFormControlSelect1">Select No</label> -->
                                                    <select class="form-control">
                                                        <option>Select</option>
                                                        <option>Print</option>
                                                        <option>SMS</option>
                                                        <option>Both</option>
                                                        <!-- <option>4</option>
                                                        <option>5</option> -->
                                                    </select>
                                                </div>
                                        
                                        <!-- </div>
                                    </div> -->
                                </div>

                                
                                <div class="form-group col-md-8 mt-4" style="margin-left: 29vw;">
                                    <button class="btn btn-warning" type="submit" value="SUBMIT"
                                        style="color: black;border-radius: 3px;font-weight: 500;">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>