<div class="row mt-5">
    <div class="col-md-12">
        <div class="card ml-5 mr-5">
            <div class="card-body">
                <div class="titleSec">
                    <h2><b><span class="badge badge-light"
                                style="border-radius: 8px;color: rgb(15, 15, 15); font-weight: 500; padding: 8px 15px;"><i data-feather="folder" class="feather-icon"></i>&nbsp;Billing
                                Report</span></b></h2>
                    <form method="POST" action="/report/collection_report_final" class="">
                        <div class="row mt-4">
                            <div class="form-group col-md-6">
                                <label for="date_from"><b style="color: black;">Form Date:</b></label>
                                <input type="date" name="date_from" id="date_from" class="form-control" value=""
                                    required />
                            </div>

                            <div class="form-group col-md-6">
                                <label for="date_to"><b style="color: black;">To Date:</b></label>
                                <input type="date" name="date_to" id="date_to" class="form-control" value="" required />
                            </div>

                            <div class="form-group col-md-6">
                                <label for="brn_id"><b style="color: black;">Location list:</b></label>
                                <select name="brn_id" class="form-control s2id" id="brn_id" required>
                                    <option value="">Select location</option>
                                    <% brn_data.forEach(dt=> { %>
                                        <option value="<%= dt.id %>">
                                            <%= dt.branch_name %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="user_id"><b style="color: black;">User list:</b></label>
                                <select name="user_id" class="form-control s2id" id="user_id" required>
                                    <option value="">Select User</option>
                                   
                                </select>
                            </div>

                            <div class="form-group col-8 mt-3" style="margin-left: 30vw;">
                                <button class="btn btn-warning" type="submit" value="SUBMIT" style="color: black;border-radius: 3px;font-weight: 500;">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#brn_id").on("change", function () {
        var brn_id = $(this).val()

      $.ajax({
        method: "GET",
        url: "/report/getuserlist",
        data: { brn_id: brn_id },
        success: function (response) {
            console.log(response);
        //   $("#user_id").append(
        //     $("<option>", { value: "", text: "Select User" })
        //   );
          if (response.suc > 0 && response.msg.length > 0)
            response.msg.forEach (function (item, index) {
              $("#user_id").append(
                $("<option>", { value: item.id, text: item.user_name })
              );
            });
        },
        error: function (error) {
        console.log(error);
      },
      });
    });
</script>