<div class="row mt-5">
    <div class="col-md-12">
        <div class="card ml-5 mr-5">
            <div class="card-body">
                <div class="titleSec">
                    <h2><b><span class="badge badge-light"
                                style="border-radius: 8px;color: rgb(15, 15, 15); font-weight: 500; padding: 8px 15px;"><i data-feather="folder" class="feather-icon"></i>&nbsp;Collection
                                Report</span></b></h2>
                    <form method="POST" action="/report/collection_report_final" class="">
                        <div class="row mt-4">
                            <div class="form-group col-md-6">
                                <label for="date_from"><b style="color: black;">Form Date:</b></label>
                                <input type="date" name="date_from" id="date_from" class="form-control" value=""
                                    required />
                            </div>

                            <div class="form-group col-md-6">
                                <label for="date_to"><b style="color: black;">To Date:</b></label>
                                <input type="date" name="date_to" id="date_to" class="form-control" value="" required />
                            </div>


                            <div class="form-group col-md-12">
                                <label for="pay_id"><b style="color: black;">Payment mode:</b></label>
                                <select name="pay_id" class="form-control s2id" id="pay_id" required>
                                    <option value="">Select Payment mode</option>
                                    <option value="C">Cash</option>
                                    <option value="U">UPI</option>
                                    <option value="D">Card</option>
                                    
                                </select>
                            </div>

                            <div class="form-group col-8 mt-3" style="margin-left: 30vw;">
                                <input type="submit" value="SUBMIT" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>