<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card ml-5 mr-5">
                <div class="card-body">
                    <div class="titleSec">
                        <h2><b><span class="badge badge-light"
                                    style="border-radius: 8px;color: rgb(15, 15, 15); font-weight: 500; padding: 8px 15px;"><i data-feather="file-text" class="feather-icon"></i>&nbsp;Itemwise Sale Report</span></b></h2>
                        <form method="POST" action="/report/itemwise_report_final" class="">
                            <div class="row mt-4">
                                <div class="form-group col-md-6">
                                    <label for="from_dt"><b style="color: black;">From Date:</b></label>
                                    <input type="date" name="from_dt" id="from_dt" class="form-control" value=""
                                        required />
                                </div>
    
                                <div class="form-group col-md-6">
                                    <label for="to_dt"><b style="color: black;">To Date:</b></label>
                                    <input type="date" name="to_dt" id="to_dt" class="form-control" value="" required />
                                </div>
    
                                <div class="form-group col-md-6">
                                    <label for="brn_id"><b style="color: black;">Outlet list:</b></label>
                                    <select name="brn_id" class="form-control s2id" id="brn_id" required>
                                        <option value="">Select Outlet</option>
                                        <option value="0">All Outlets</option>
                                        <% data.forEach(dt => { %>
                                            <option value="<%= dt.id %>">
                                                <%= dt.branch_name %>
                                            </option>
                                        <% }) %>
                                    </select>
                                </div>
    
                                <div class="form-group col-md-6">
                                    <label for="item_id"><b style="color: black;">Item List:</b></label>
                                    <select name="item_id" class="form-control s2id" id="item_id" required>
                                        <option value="">Select Item</option>
                                        <% data_item.forEach(dt1 => { %>
                                            <option value="<%= dt1.id %>">
                                                <%= dt1.item_name %>
                                            </option>
                                        <% }) %>
                                    </select>
                                </div>

                                <input type="hidden" name="itm_name" id="itm_name" value="">
                                <input type="hidden" name="brn_name" id="brn_name" value="">
                                <div class="form-group col-8 mt-3" style="margin-left: 30vw;">
                                    <button class="btn btn-warning" type="submit" value="SUBMIT" style="color: black;border-radius: 3px;font-weight: 500;">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#item_id").change( function() {
        $('#itm_name').val($('#item_id :selected').text().trim());
    });
</script>
<script>
    $("#brn_id").change( function() {
        $('#brn_name').val($('#brn_id :selected').text().trim());
    });
</script>