<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="col-sm-6 mt-3">
                <i class='fas fa-file-invoice' style='font-size:20px;'>&nbsp;<span style="font-size: 25px;color: black;">Receiptmwise Sale Report Details</span style="font-size: 25px;"></i>&nbsp;
                  <ul class="breadcrumb">
                    <li><a href="/report/receiptwise_report">Receiptmwise Sale Report</a></li>&nbsp; / &nbsp;
                    <li>Receiptmwise Sale Report Details</li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div>