<div class="container-fluid">
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="card ml-5 mr-5">
          <div class="card-body">
            <div class="titleSec">
                      <div class="row">
                        <div class="col-sm-6">
                          <h2><b><span class="badge badge-light"
                            style="border-radius: 8px;color: rgb(15, 15, 15); font-weight: 500; padding: 8px 15px;"><i class="fa fa-server"></i>&nbsp;Item Details</span></b></h2>
                          </div>
                          <div class="col-sm-6">
                            <button type="button" class="btn btn-primary" title="Add" id="myBtn" style="border-radius: 8px;float: right;"><i class="fa fa-plus"></i></button>
                          </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-8">
                                <div class="input-group customize-input">
                                    <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                           type="search" placeholder="Search Items" id="searchItem" aria-label="Search"/>
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="comp_id" id="comp_id" value="">
                        </div>


                        <table class="table table-striped table-bordered no-wrap mt-3" id="showitemtdtls" style="width:100%">
                            <thead>
                              <tr>
                                <th style="color: black;">Sl. No.</th>
                                <th style="color: black;">HSN Code</th>
                                <th style="color: black;">Item Name</th>
                                <th style="color: black;">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                            </tbody>
                          </table>
            </div>  
            </div>
            </div>
          </div> 
        </div>
</div>


<script>
  $('#showitemtdtls').hide()
        $('#searchItem').keyup(function(){
            var data = $(this).val()
            if(data.length > 2){
                alert('initiate req');
                 $('#showitemtdtls').show()
                 get_item_dtls();
            }
        })

    function get_item_dtls(){
        $.ajax({
      type: "POST",
      url: "/items/receipt_list",
      data: { dt_frm: dt_frm, dt_to: dt_to },
      success: function (response) {
        // console.log(response);
        $('#showreceiptdtls tbody').empty()
        let i = 1;

        if (response.suc > 0 && response.msg.length > 0)
          response.msg.forEach(function (resData) {
            // console.log(resData);

            function formatDate(inputDate) {
              const date = new Date(inputDate);
              const year = date.getFullYear();
              const month = String(date.getMonth() + 1).padStart(2, '0');
              const day = String(date.getDate()).padStart(2, '0');
              return `${day}/${month}/${year}`;
            }

            $('#showreceiptdtls tbody').append(`
              <tr>
                <td>${i}</td>
                <td>${resData.receipt_no}</td>
                <td>${formatDate(resData.trn_date)}</td>
                <td>${resData.created_by}</td>
                <td>${resData.net_amt}</td>
                <td>${resData.pay_mode == 'C' ? 'Cash' : resData.pay_mode == 'U' ? 'UPI' : resData.pay_mode == 'D' ? 'Card' : ''}</td>
                <td><a href="/report/receiptwise_report_final?receipt_no=${resData.receipt_no}&&user=${resData.created_by}" class='btn btn-info' style="border-radius:6px"><i class="fa fa-eye"></i></a></td> 
              </tr>
              `)
            i++;
          });
        else {
          $('#showreceiptdtls tbody').append(`
            <tr>
              <td colspan="7" class="text-danger text-center">No data found</td>
            </tr>
          `)
        }

      },
      error: function (error) {
        // console.log(error);
      },
    });
    }    
    
        
    </script>

    